.Number, .Symbol, .Static, .Special {
    border-radius: 10px;
    width: 50px;
    font-size: 30px;
    color: white;
    border: none;
    flex-grow: 1;
    flex-shrink: 0;
    cursor: pointer;
    margin: 5px;
}

.Special {
    background:black;
    color: rgb(28, 121, 33);
}
.Special:hover {
    outline: none;
    background: var(--accent-start);
}

.Number {
    background: var(--normal);
}
.Number:hover {
    outline: none;
    background: var(--normal-selected);
}

.Symbol {
    color: rgb(28, 121, 33);
    background-color: black;
}

.Symbol:hover {
    outline: none;
    
}

.Wide {
    width: 100px;
    flex-grow: 2;
    flex-shrink: 0;
}

.Static {
    background-color: black;
    color: rgb(28, 121, 33);
}
.Static:hover {
    outline: none;
    background: var(--plain-selected);
}